/*
Feuille de style du projet "m151admin"
*/

#corpsForm{
    margin: auto;
    margin-top: 50px;
    width: 600px;
    height: 270px;
    background-color: lightgray;
    border-radius: 15px 5px 15px 5px;
    padding: 20px;
    font-family: sans-serif;
}

#insideCorpsForm{
    margin: auto;
}

#tableUsers{
    border-collapse: collapse;
}

#tableUsers td{
    border: 1px solid grey;
}

textarea{
    resize: none;
}

header{
    height: 30px;
    width: 600px;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 2px 2px 2px 2px;
    
}

